body {
                background-color: rgba(231,236,239,0.95);
            }

.bootstrap-select .btn:focus {
    outline: none !important;
}

h1 {
    margin: 0px 2px;
    font-size: 8vh;
    color: rgba(91,92,91,0.95);
}

h2 {
    margin: 0px 2px;
    padding: 0px;
    color: rgba(91,92,91,0.95);
}

h4 {
    margin: 0px 2px;
    padding: 0px;
    color: rgba(199,204,207,0.95)
}

h6 {
    margin: 0px 0px;
    padding: 0px;
    color: rgba(199,204,207,0.95)
}

img {
    width: 100%;
}


.container {
    /*border: 1px solid dimgrey;*/
    padding: 0px 5%;
    height: 100vh;
    background-color: rgba(255,255,255,0.95);

}

.row {
    padding: 0px;
    margin: 0px;
}

.col-xs-1 {
    margin: 0px;
    padding: 0px;
}
.col-xs-10 {
    margin: 0px;
    padding: 0px;
}

.col-xs-2 {
    margin: 0px;
    padding: 0px;
}
.col-xs-8 {
    margin: 0px;
    padding: 0px;
}

.col-sm-2 {
    margin: 0px;
    padding: 0px;
}

.col-sm-3 {
    margin: 0px;
    padding: 0px;
}

.col-sm-6 {
    margin: 0px;
    padding: 0px;
}

.col-sm-12 {
    margin: 0px;
    padding: 0px;
}

#header {
    margin-top: 5px;
    width: 100%;
    height: 15%;
}
.form-group {
    border-radius: 0;
}
.form-control {
    border-radius: 0;
}

#dropButton {
    width: 50%;
}
.dropdown {
    width: 50%;
}
.btn {
    width: 100%;
    border-radius: 0px;
    background-color: rgba(231,236,239,0.95);
    border: 0px;
}

.dropdownButton {
    width: 100%;
    border-radius: 0;
    float: left;
    border: 0px;
    box-shadow: none;
    background-color: rgba(231,236,239,0.95);
}

.dropdown-menu {
    width: 100%;
    border-radius: 0;
    float: left;
    border: 0px;
    box-shadow: none;
    background-color: rgba(231,236,239,0.95);
}


#logoContainer {
    width: 10%;
    height: 100%;
    float: right;
}


#weekdays {
    height: 10%;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}
#weekdayContainer {
    float: left;
    height: 100%;
    width: 80%;
}

.weekday {
    height: 100%;
    width: 20%;
    float: left;
    background-color: white;
    border-left: 5px solid white;
    border-radius: 10px;
}

#dienstag {
    background-color: rgba(231,236,239,0.95);
    border-left: 5px solid rgb(226, 34, 70);
}

.weekdayBtn {
    height: 100%;
    width: 10%;
    float: left;
    text-align: center;
    padding-top: 1%;
}

span.glyphicon-menu-right {
    font-size: 3em;
    color: rgba(91,92,91,0.95);
}

span.glyphicon-menu-left {
    font-size: 3em;
    color: rgba(91,92,91,0.95);
}
span.glyphicon-triangle-left {
    font-size: 3em;
    color: rgba(91,92,91,0.95);
}

#allHourContainer {
    height: 60%;
    overflow-y: auto;
    border-radius: 10px;
    border-left: 5px solid rgb(226, 34, 70);
    /*border: 1px solid black;*/
}

#overflowHelpContainer {
    background-color: rgba(231,236,239,0.95);
    height: 200%;
    border-radius: 10px;
}

.hourRow {
    height: 10%;
    width: 100%;
    /*border: 1px solid black;*/
}

.hourContainer {
    height: 100%;
    padding: 0px 0px;
}

.hour {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid rgba(231,236,239,0.95);
    /*border-left: 1px solid #E0E1E1;*/
    opacity: 0.9;
}

#bottomContainer {
    height: 10%;
    margin-top: 1%;
}

#back {
    width: 33%;
    height: 100%;
    float: left;
    border-radius: 10px;
    text-align: center;
}

#acceptBtn {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 50px;
    /*border: 1px solid dimgrey;*/
    background-color: rgba(110,170,121,0.95);
    text-align: center;
    color: white;
    border-radius: 100%;
}
#cancelBtn {
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 10px;
    /*border: 1px solid dimgrey;*/
    background-color: rgba(110,170,121,0.95);
    text-align: center;
    color: white;
    border-radius: 100%;
}

#acceptBtn:hover {
    opacity: 0.8;
}

@media (max-width: 500px) {
    .container {
        margin: 0px;
        padding: 0px;
    }
    #header {
        height: 10%;
        margin: 0px;
    }
    #dropButton {
        margin: 0px;
    }
    #weekdays {
        height: 20% ;
    }
    #weekdayContainer {
        width: 70%;
    }
    .weekdayBtn {
        width: 15%;
    }
    h1 {
        font-size: 70px;
        margin-top: 5%;
    }
    #allHourContainer {
        height: 50%;
    }
    span.glyphicon-menu-right {
        margin-top: 80%;
        font-size: 2em;
        color: rgba(91,92,91,0.95);
    }

    span.glyphicon-menu-left {
        margin-top: 80%;
        font-size: 2em;
        color: rgba(91,92,91,0.95);
    }
}
