form {

    border-left: 3px solid red;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 15%;
    background-color: #e6e6e6;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;

    border: 0px solid #ccc;
    box-sizing: border-box;
    outline-style: double;

    outline-color: #e6e6e6;


}


button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}




.container {
    padding: 16px;

}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

}