
.container {
    padding: 0px 30%;
    margin-top: 10%;

}
.inner{
    margin: 20px;
}

#h{
    margin-left: 20px;
    margin-bottom: 80px;
}

.btn:focus,.btn:active {
    outline: none !important;
}

.btn {
    border-radius: 0%;
    border: 0px;
}
.btn:hover{
    border-left: 3px solid red;

}

button{
    position: relative;
    outline: 0 none;
}


@media (max-width: 500px) {
    .container {
        margin: 0px;
        padding: 5px;
    }
}