
.container {
    padding: 0px 30%;
    margin-top: 10%;

}
.inner {
    margin: 20px;
}

.termin{
    position: relative;

    padding: 5px;
    background-color: #e6e6e6;
    border-left: 3px solid red;
    margin: 0px 0px 30px;
}



img{
    position: absolute;
    top:5px;
    right: 5px;
    width: 15px;
    height: 15px;
    opacity: 0.5;
}

img:hover{
    opacity: 1.0;
}

#eins{
    margin-top: 25%;
}

#h{
    margin-left: 20px;
    margin-bottom: 80px;
}

.btn:focus,.btn:active {
    outline: none !important;
}

.btn {
    border-radius: 0%;
    border: 0px;
}
.btn:hover{
    border-left: 3px solid red;

}

button{
    position: relative;
    outline: 0 none;
}


@media (max-width: 500px) {
    .container {
        margin: 0px;
        padding: 5px;
    }
}